{% extends '::base.html.twig' %}

{% block title %}Telephely - szerkesztés{% endblock %}

{% block body -%}
    <div class="body-container">
        <h2>Telephely szerkesztése</h2>
        <div class="content">
            {{ form(edit_form) }}
            {{ form(delete_form) }}

            <div>
                <a href="{{ path('telephely') }}">
                    Vissza
                </a>
            </div>
        </div>
    </div>
{% endblock %}
