{% extends '::base.html.twig' %}

{% block title %}Telephely - új{% endblock %}
{% block body -%}
    <div class="body-container">
        <h2>Telephely létrehozás</h2>
        <p>A *-gal jelölt mezők kitöltése kötelező</p>
        <div class="content">
            {{ form(form) }}
            <div>
                <a href="{{ path('telephely') }}">
                    Vissza
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/feladat/js/telephely.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {            
            checkRequired("feladatbundle_telephely");
        });
    </script>
{% endblock %}
