.table-striped > tbody > tr:nth-of-type(2n+1){
    height: 30px;
}

.table-striped > tbody > tr > td.record_delete{
    max-width: 100px;
    
}

.form-control{
    padding: 2px;
    height: 25px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    height: 25px;
    padding: 2px;
}

.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append{
    max-width: 250px;
}

.form-horizontal .control-label{
    min-width: 300px;
    padding-top: 3px;
    padding-right: 7px;
    height: 25px;
}

.login-content{
    padding: 10%;
}

.register-content{
    padding: 10%;
}

.login-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: #eee;
}

.register-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: #eee;
}

#login_username{
    margin-bottom: 10px;
}

#login_password{
    margin-bottom: 10px;
}

.alert-success, .alert-danger{
    display: table;
    min-width: 150px;
    max-width: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    margin: auto;
}