.content{
    margin-left: 10%;
    width: 35%;
}

.login-content{
    padding: 10%;
}

.register-content{
    padding: 10%;
}

.container{
    width: 300px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: #eee;
}

.register-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -200px;
    margin-left: -150px;
    background-color: #eee;
}

.form-control{
    padding: 6px;
    height: auto;
}

label.form-control{
    border: none;
    box-shadow: none;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}