{% extends '::base.html.twig' %}

{% block title %}Partner - szerkesztés{% endblock %}

{% block body -%}
    <div class="body-container">
        <h2>Partner szerkesztés</h2>
        <div class="content">
            {{ form(edit_form) }}
            {{ form(delete_form) }}

            <div>
                <a href="{{ path('partner') }}">
                    Vissza
                </a>
            </div>
        </div>
    </div>
{% endblock %}
