{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Partner létrehozás</h2>
    <div class="content">
        {{ form(form) }}
        <div>
                <a href="{{ path('partner') }}">
                    Vissza
                </a>
        </div>
    </div>
{% endblock %}
