{% extends "::base.html.twig" %}

{% block title %}FeladatBundle:Index:index{% endblock %}

{% block body %}
<h1>Welcome to the Index:index page, {{ user.keresztNev }}</h1>
<a href="{{ path('logout') }}">Kijelentkezés</a>
{% endblock %}
