{% extends '::base.html.twig' %}

{% block body -%}
    <div class="body-container">
        <h2>Név előtag létrehozás</h2>
        <p>A *-gal jelölt mezők kitöltése kötelező</p>
        <div class="content">
            <div class="form_error"></div>
            {{ form(form) }}
            <div>
                <a href="{{ path('nevelotag') }}">
                    Vissza
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/bundles/feladat/js/nevElotag.js') }}"></script>
{% endblock %}